<app-header  title="Home">
</app-header>

<ion-content [fullscreen]="true">

  <ion-content color="light">
    <h1><strong>Listado de Pedidos:</strong></h1>
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Id Cliente: 228151625  Solicitante: Cencosud</ion-label>
        <ion-button>Vizualizar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Id Cliente: 2345345  Solicitante: doña juana</ion-label>
        <ion-button>Vizualizar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Id Cliente:111458  Solicitante: Juan Perez</ion-label>
        <ion-button>Vizualizar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Id Cliente: 2245586 Solicitante: Empresa Torre</ion-label>
        <ion-button>Vizualizar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Id Cliente: 557856  Solicitante: Agrupacion agropecuaria</ion-label>
        <ion-button>Vizualizar</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
 
</ion-content>
